body {
    font-family: 'Roboto', sans-serif;
    background: #f7f7f7 !important;
}


.navbar {
    background: white;
    display: flex;
    align-items: center;
}

.navbar-brand {
    color: black !important;
    transition: all 0.3s ease-in-out;
    height: 50px!important;
    padding: 0 !important;
}

.navbar-brand:hover {
    color:gray !important;
}

.nav li a {
    color: black !important;
    transition: all 0.3s ease-in-out;
    font-size: 15px;
}

.nav li a:hover{
    color:gray !important;
}


.calculator-title {
    text-align: center;
    margin-bottom: 30px;
}

.article-section {
    display: flex;
}

.article-section article {
    padding: 48px;
    background: #fff;
    border-radius: 6px;
    margin: 15px;
}

.article-section article h3 {
    font-size: 30px;
    margin-top: 0;
}

.article-section article p {
    font-size: 16px;
}

/**
    Article page
**/
.list-articles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
}

    .list-articles article {
        background: #fff;
        padding: 0;
        margin-bottom: 15px;
        border-radius: 8px;
        box-shadow: 0 3px 9px 0 rgba(0,0,0,.1);
    }

.list-articles article .image-container {
    position: relative;
    height: 390px;
}

.list-articles article .image-container h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.list-articles article .image-container img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.list-articles article .article-description {
    padding: 15px 25px;
}

/* Rezultat analiza */
.buletin-analize {
    padding: 15px 25px;
    border: 1px solid #232323;
    margin-bottom: 40px;
}

.buletin-analize .header .titlu-sectiune {
    padding: 10px 0;
    background: lightgray;
    text-align: center;
    text-transform: uppercase;
}

.detalii-pacient .detaliu-pacient {
    border-bottom: 1px dotted black;
    padding: 10px 200px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.detalii-pacient .detaliu-pacient:last-of-type {
    border-bottom: none;
}

.detalii-pacient .detaliu-pacient span:first-of-type {
    font-weight: 700;
}

.rezultat-analize table thead th {
    background: lightgray;
    border-right: 2px solid #fff;
    border-bottom: none;
}

.rezultat-analize table tbody td {
    border-top: 1px dotted black;
}

.rezultat-analize table tbody tr:first-of-type td {
    border-top: none;
}
