@{
    ViewBag.Title = "Statistici";

    if (Session["NumeUtilizator"] == null || (bool)Session["Activ"] == true)
    {
        Response.Redirect("~/Cont/Logare", false);
    }
}

<!DOCTYPE HTML>
<html>
<head>
    <script>
		window.onload = function () {

			var chart1 = new CanvasJS.Chart("chartFete", {
				theme: "light1", // "light1", "light2", "dark1", "dark2"
				exportEnabled: true,
				animationEnabled: true,
				title: {
					text: "Greutate medie - fete",
					fontSize: 21
				},
				data: [{
					type: "column",
					startAngle: 160,
					toolTipContent: "<b>{label}</b>: {y} Kg",
					indexLabel: "{y} Kg",
					dataPoints: @Html.Raw(ViewBag.StatisticiFete)
	}]
			});
			chart1.render();


			var chart2 = new CanvasJS.Chart("chartBaieti", {
				theme: "light1", // "light1", "light2", "dark1", "dark2"
				exportEnabled: true,
				animationEnabled: true,
				title: {
					text: "Greutate medie - baieti",
					fontSize: 21
				},
				data: [{
					type: "column",
					startAngle: 160,
					toolTipContent: "<b>{label}</b>: {y} Kg",
					indexLabel: "{y} Kg",
					dataPoints: @Html.Raw(ViewBag.StatisticiBaieti)
	}]
			});
			chart2.render();

			var chart3 = new CanvasJS.Chart("chartObezitate", {
				theme: "light1", // "light1", "light2", "dark1", "dark2"
				exportEnabled: true,
				animationEnabled: true,
				title: {
					text: "Stare sanatate utilizatori",
					fontSize: 21
				},
				data: [{
					type: "pie",
					startAngle: 160,
					toolTipContent: "<b>{label}</b>: {y}%",
					indexLabel: "{label} - {y}%",
					dataPoints: @Html.Raw(ViewBag.StatisticiObezitate)
	}]
			});
			chart3.render();

			var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Numar programari realizate in ultimele 14 zile"
	},
	axisX: {
		valueFormatString: "DD MMM"
	},
	axisY: {
		sufix: "- pacienti"
	},
	data: [{
		type: "spline",
		xValueType: "dateTime",
		xValueFormatString: "DD MMM",
		yValueFormatString: "#,###",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();
		}
    </script>
</head>
<body>
    <br />
    <h1 style="text-align:center">Statistici generale</h1>
    <br />
    <br />
    <br />
	<h4>Studiu de caz realizat pe greutatea medie a utilizatorilor, impartita pe grupe de varsta si pe genul acestora. Datele au fost furnizate de baza de date asociata calculatorului pentru indicii de masa corporala si grasime corporala.</h4>
	<br />
    <div id="chartFete" style="height: 370px; width: 100%;"></div>
    <br />
    <div id="chartBaieti" style="height: 370px; width: 100%;"></div>
	<br />
	<br />
	<br />
	<br />
	<br />
    <h4>Diagrama prezinta informatii despre starea generala de sanatate a utilizatorilor, in functie de rezultatele obtinute la simularea pentru IBM.</h4>
    <br />
    <br />
    <div id="chartObezitate" style="height: 370px; width: 100%;"></div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
	<h4>Se poate urmrii evolutia pacientilor ce au avut finalizat cu succes in ultimele 14 zile un control medical in incinta clinicii cu o programare prealabila realizata online.</h4>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>
</html>  