@{

    // din viewbag

    if (ViewBag.Analize != null)
    {
        var analize = ViewBag.Analize;
        <br />
        foreach (var analiza in analize)
        {
            <label>
                @analiza
                <input type="text" />
            </label>
            <br />
            <hr />
        }
    }

    else
    { 
        <h2>Nu exista analize.</h2>
    }


}